header{
    height: 4em;
    width: 100vw;
    background-color: #FFAD05;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile{
    padding: 1em;
    height: 40px;
    width: 40px;
    
}